.map {
    height: 37rem; /* 592px */
    width: 58.875rem; /* 942px */
}
.ol-popup {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
    bottom: -1.875rem; /* 30px */
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    left: -3.125rem; /* -50px */
    padding-top: 1rem; /* 16px */
    position: absolute;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
}
    .ol-popup:after, .ol-popup:before {
        border: solid transparent;
        content: " ";
        height: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        width: 0;
    }
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 3rem; /* 48px */
        margin-left: -.625rem; /* -10px */
    }
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: .6875rem; /* 11px */
        left: 3rem; /* 48px */
        margin-left: -.6875rem; /* -11px */
    }
.ol-popup-closer {
    font-size: 100%;
    position: absolute;
    right: .25rem; /* 4px; */
    text-decoration: none;
    top: .1rem;
}
.ol-popup-content {
    height: 100%;
    min-width: 5rem;
    padding: 0.5rem;
    position: relative;
    white-space: normal;
}
    .ol-popup-content p {
        font-size: .75rem; /* 12px */
        margin-bottom: .9375rem; /* 15px */
        padding: 0.125rem .25rem; /* 2px 4px */
    }